<section class="dashboard-show">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <table class="table table-bordered">
    <tr>
      <th>Products Count</th>
      <td>
        <%= @products.count %>
      </td>
      </tr>
      <tr>
      <th>Categories Count</th>
      <td>
        <%= @categories.product.count %>
      </td>
    </tr>
  </table>

</section>